<div class="panel panel-primary">
    <div class="panel panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text"
                [(ngModel)]="listFilter" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filtered by: {{listFilter}}</h3>
            </div>
        </div>
    </div>
    <div class="table-reponsive">
        <table class='table' *ngIf="errorList && errorList.length">
          <thead>
              <tr>
                  <th>App</th>
                  <th>errorDescr</th>
                  <th>Source Host</th>
                  <th>Date</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let error of errorList | errorFilter:listFilter">
              <td>{{error.appId}}</td>
              <td>{{error.errorDescr}}</td>
              <td>{{error.sourceHost | lowercase}}</td>
              <td>{{error.utcDateTime | date:'short'}}</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
